.footer {
  position: relative;
  margin-top: 45px;
}

.footer__up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 95px;

  @media (max-width: $mobile-width) {
    padding: 0 15px;
  }
}

.footer__down {
  background: #FAF9F8;
}

.footer__down-wrap {
  display: flex;
  align-items: center;
  height: 77px;
  padding: 0 95px;

  &:after{
    content:'';
    min-height:inherit;
    font-size:0;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    justify-content: center;
    height: 140px;
    padding: 0 15px;
  }
}

.logo {
  width: 129px;
  height: 23px;

  @media (max-width: $mobile-width) {
    width: 84px;
    height: 15px;
  }
}

.social {
  width: 210px;
  height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:after{
    content:'';
    min-height:inherit;
    font-size:0;
  }

  @media (max-width: $mobile-width) {
    width: 150px;
    margin-right: 0;
  }
}

.social__img {
  width: 26px;
  height: 26px;

  &:hover {
    opacity: 0.8;
  }
}

.lang {
  display: block;
  position: relative;
  width: 40px;
  font-size: 15px;
  line-height: 18px;
  color: #37373F;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    right: 5px;

    border: solid #c7c7c7;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  width: 165px;

  @media (max-width: $mobile-width) {
    width: 150px;
  }
}

.cards__img {
  width: 39px;
  height: auto;
}

.copyright {
  margin-left: 22%;
  font-size: 14px;
  line-height: 17px;
  color: #b3b3b3;
  letter-spacing: 0.5px;

  a {
    color: #b3b3b3;
  }

  @media (max-width: $mobile-width) {
    margin-top: 15px;
    margin-left: 0;
  }
}