.gallery {
  margin-top: 30px;

  @media (max-width: $mobile-width) {
    margin-top: 60px;
  }

  h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 1.9px;
    margin-bottom: 33px;

    @media (max-width: $mobile-width) {
      font-size: 28px;
      line-height: 34px;
      text-align: center;
    }
  }
}

.gallery__wrap {
  @media (max-width: $mobile-width) {
    display: none;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & div:nth-child(4n + 4) {
    margin-right: 0;
  }
}

.gallery__img {
  width: 276px;
  height: 185px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.gallery__more {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 35px;
  text-align: center;

  a {
    position: relative;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 1px;

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: -15px;

      border: solid #c7c7c7;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 5px;
      right: -15px;

      border: solid #c7c7c7;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
    }
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.gallery__container {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
    margin-top: 15px;
  }
}

.gallery__slide {
  width: 276px;
}
