.gallery {
  margin-top: 30px;

  h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 1.9px;
  }
}

.gallery__wrap {
  @media (max-width: $mobile-width) {
    display: none;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 33px;

  & div:nth-child(4n + 4) {
    margin-right: 0;
  }
}

.gallery__img {
  width: 276px;
  height: 185px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.gallery__more {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 35px;
  text-align: center;

  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 1px;

  @media (max-width: $mobile-width) {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 41%;

    border: solid #c7c7c7;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 41%;

    border: solid #c7c7c7;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
  }
}

.gallery__container {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
    margin-top: 15px;
  }
}

.gallery__slide {
  width: 276px;
}